body {
  font-family: Arial, sans-serif;
  background-color: #e6f7ff;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 20px;
  padding-bottom: 100px;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #0056b3;
}

p {
  font-size: 1.2em;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.button:hover {
  background-color: #0056b3;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  color: #0056b3;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

.section p {
  margin: 5px 0;
}

.status-ok {
  color: green;
}

.status-fail {
  color: red;
}

.pool-info,
.logbook {
  margin-bottom: 20px;
}

.logbook-entry {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.logbook-entry:last-child {
  border-bottom: none;
}

.logbook-entry h3 {
  margin: 0;
  color: #0056b3;
}

.logbook-entry p {
  margin: 5px 0;
  color: #777;
}

form {
  display: grid;
  gap: 15px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  margin-bottom: 5px;
  font-weight: bold;
}

form input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  align-self: center;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #218838;
}

.services {
  text-align: left;
}

.project-details {
  text-align: left;
}

.description {
  font-size: 1.1em;
  margin-bottom: 15px;
}

.usage-title,
.advantages-title {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 20px;
  color: #0056b3;
}

.usage-list,
.advantages-list {
  list-style-type: disc;
  padding-left: 20px;
  margin: 10px 0;
}

.usage-list li,
.advantages-list li {
  margin-bottom: 10px;
}
