<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Plouf - Home</title>
  </head>
  <body>
    {% include 'navbar.html' %}

    <div class="container">
      <h1>Welcome to Plouf!</h1>
      <p>Your one-stop solution for all your needs.</p>
      <a href="/pools" class="button">Get Started</a>
    </div>
    <br />
    <div class="container">
      <h2>Our Services</h2>
      <div class="services">
        <p class="description">
          Plouf is a numerical pool log book designed to help you keep track of
          all your pool-related activities and maintenance tasks. Whether you
          are a pool owner or a professional pool service provider, Plouf offers
          a range of features to suit your needs.
        </p>
        <p class="usage-title">Usage:</p>
        <ul class="usage-list">
          <li>Log Book: Record and monitor pool maintenance activities.</li>
          <li>
            Water Quality Tracking: Keep track of water quality parameters.
          </li>
          <li>
            Service Scheduling: Schedule and manage pool service appointments.
          </li>
        </ul>
        <p class="advantages-title">Advantages:</p>
        <ul class="advantages-list">
          <li>User-Friendly Interface: Easy to navigate and use.</li>
          <li>
            Customizable: Tailor the platform to fit your specific requirements.
          </li>
          <li>
            Secure: Your data is protected with top-notch security measures.
          </li>
        </ul>
      </div>
    </div>
    <br />
    <div class="container">
      <h2>About the Project</h2>
      <div class="project-details">
        <p class="description">
          This project is developed and maintained by a single individual. The
          initial goal was to solve a pool log storage issue, which then evolved
          into an opportunity to build a full-stack application to keep coding
          skills sharp. This application is designed to be run at home, allowing
          everyone to access the data easily.
        </p>
      </div>
    </div>
  </body>
  {% include 'footer.html' %}
</html>
