<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Plouf - Pool Details</title>
  </head>
  <body>
    {% include 'navbar.html' %}

    <div class="container">
      <h1>Pool Details</h1>
      <div class="pool-info">
        <h2>Pool Information</h2>
        <p><strong>Owner Name:</strong> {{ data.pool.owner_name }}</p>
        <p><strong>Length:</strong> {{ data.pool.length }} meters</p>
        <p><strong>Width:</strong> {{ data.pool.width }} meters</p>
        <p><strong>Depth:</strong> {{ data.pool.depth }} meters</p>
        <p><strong>Type:</strong> {{ data.pool.type }}</p>
        <p><strong>Notes:</strong> {{ data.pool.notes }}</p>
        <p>
          <strong>Water Volume:</strong> {{ data.pool.water_volume }} cubic
          meters
        </p>
        <p
          style="
              color: 
              {% if data.pool.next_maintenance < today %}red
              {% elif data.pool.next_maintenance == today %}orange
              {% else %}black
              {% endif %};
            "
        >
          <strong>Next Maintenance:</strong> {{ data.pool.next_maintenance }}
        </p>

        <button
          class="button"
          onclick="window.location.href='/pool/{{ data.pool.id }}/update'"
        >
          Update Pool
        </button>
      </div>

      <div class="logbook">
        <h2>Logbook</h2>
        {% if data.pool.logbook %} {% for log in data.pool.logbook %}
        <div class="logbook-entry">
          <h3>Log Entry - {{ log.date }}</h3>
          <p><strong>pH Level:</strong> {{ log.pH_level }}</p>
          <p><strong>Chlorine Level:</strong> {{ log.chlorine_level }}</p>
          {% if log.notes %}
          <p><strong>Notes:</strong> {{ log.notes }}</p>
          {% endif %}
          <button class="button" onclick="deleteLog('{{ log.id }}')">
            Delete
          </button>
          <button class="button" onclick="updateLog('{{ log.id }}')">
            Update
          </button>
        </div>
        {% endfor %} {% else %}
        <p>No log entries available.</p>
        {% endif %}
      </div>

      <script>
        function deleteLog(logId) {
          if (confirm("Are you sure you want to delete this log?")) {
            fetch("/delete-log/" + "{{pool_id}}" + "/" + logId, {
              method: "DELETE",
            })
              .then((response) => {
                if (!response.ok) {
                  throw new Error("Failed to delete log.");
                }
                return response;
              })
              .then((data) => {
                alert("Log deleted successfully!");
                location.reload();
              })
              .catch((error) => {
                console.error("Error:", error);
                alert("Failed to delete log.");
              });
          }
        }

        function updateLog(logId) {
          window.location.href =
            "/pool/" + "{{data.pool.id}}" + "/log/" + logId + "/update";
        }
      </script>
    </div>
    <br />
    <div>{{ graph_html | safe }}</div>
    <br />
    <div class="container">
      <h2>Add Pool Log</h2>
      <form id="addPoolLogForm">
        <div>
          <label for="pH_level">pH Level:</label>
          <input
            type="number"
            id="pH_level"
            name="pH_level"
            step="0.1"
            min="0"
            max="14"
            required
          />
        </div>
        <div>
          <label for="chlorine_level">Chlorine Level:</label>
          <input
            type="number"
            id="chlorine_level"
            name="chlorine_level"
            step="0.1"
            min="0"
            max="10"
            required
          />
        </div>
        <div>
          <label for="notes">Notes:</label>
          <input type="text" id="notes" name="notes" />
        </div>
        <div>
          <label for="date">Maintenance Date:</label>
          <input type="date" id="date" name="date" />
        </div>
        <button type="submit" class="button">Add Log</button>
      </form>
    </div>

    <script>
      document
        .getElementById("addPoolLogForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();

          const pH_level = parseFloat(
            document.getElementById("pH_level").value
          );
          const chlorine_level = parseFloat(
            document.getElementById("chlorine_level").value
          );
          const notes = document.getElementById("notes").value;
          const date = document.getElementById("date").value;

          const poolLogData = {
            pH_level: pH_level,
            chlorine_level: chlorine_level,
            notes: notes,
            date: date,
          };

          fetch("/add-log/" + "{{ pool_id }}", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(poolLogData),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.error) {
                throw new Error(data.error);
              }
              alert("Pool added successfully!");
              location.reload();
            })
            .catch((error) => {
              console.error("Error:", error);
              alert("Failed to add pool.");
            });
        });
    </script>
  </body>
  {% include 'footer.html' %}
</html>
