<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Plouf - Pools</title>
  </head>
  <body>
    {% include 'navbar.html' %}

    <!-- Embed the Plotly graph -->
    <div class="container">
      <h1>All your Pools</h1>

      <table>
        <thead>
          <tr>
            <th>Owner Name</th>
            <th>Length</th>
            <th>Width</th>
            <th>Depth</th>
            <th>Type</th>
            <th>Water Volume</th>
            <th>Next Maintenance</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          {% for pool in data.pools %}
          <tr>
            <td>{{ pool.owner_name }}</td>
            <td>{{ pool.length }}</td>
            <td>{{ pool.width }}</td>
            <td>{{ pool.depth }}</td>
            <td>{{ pool.type }}</td>
            <td>{{ pool.water_volume }}</td>
            <td
              style="
              color: 
              {% if pool.next_maintenance < today %}red
              {% elif pool.next_maintenance == today %}orange
              {% else %}black
              {% endif %};
            "
            >
              {{ pool.next_maintenance }}
            </td>

            <td>
              <button class="button" onclick="showDetails('{{ pool.id }}')">
                View Details
              </button>
              <button class="button" onclick="deletePool('{{ pool.id }}')">
                Delete
              </button>
              <button class="button" onclick="updatePool('{{ pool.id }}')">
                Update
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <br />
    <script>
      function showDetails(poolId) {
        window.location.href = `/pool/${poolId}`;
      }
      function deletePool(poolId) {
        if (confirm("Are you sure you want to delete this pool?")) {
          fetch("/delete-pool/" + poolId, {
            method: "DELETE",
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.error) {
                throw new Error(data.error);
              }
              alert("Pool deleted successfully!");
              location.reload();
            })
            .catch((error) => {
              console.error("Error:", error);
              alert("Failed to delete pool.");
            });
        }
      }
      function updatePool(poolId) {
        window.location.href = `/pool/${poolId}/update`;
      }
    </script>
    <div class="container">
      <h2>Add a New Pool</h2>
      <form id="addPoolForm">
        <div>
          <label for="owner_name">Owner Name:</label>
          <input type="text" id="owner_name" name="owner_name" required />
        </div>
        <div>
          <label for="length">Length (m):</label>
          <input
            type="number"
            id="length"
            name="length"
            step="0.1"
            min="1"
            required
          />
        </div>
        <div>
          <label for="width">Width (m):</label>
          <input
            type="number"
            id="width"
            name="width"
            step="0.1"
            min="1"
            required
          />
        </div>
        <div>
          <label for="depth">Depth (m):</label>
          <input
            type="number"
            id="depth"
            name="depth"
            step="0.1"
            min="0.5"
            required
          />
        </div>
        <div>
          <label for="type">Type:</label>
          <input
            type="text"
            id="type"
            name="type"
            placeholder="Indoor, Heated, ..."
            required
          />
        </div>
        <div>
          <label for="notes">Notes:</label>
          <input type="text" id="notes" name="notes" />
        </div>
        <div>
          <label for="next_maintenance">Next Maintenance:</label>
          <input type="date" id="next_maintenance" name="next_maintenance" />
        </div>
        <button type="submit" class="button">Add Pool</button>
      </form>
    </div>

    <script>
      document
        .getElementById("addPoolForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();

          const ownerName = document.getElementById("owner_name").value;
          const length = parseFloat(document.getElementById("length").value);
          const width = parseFloat(document.getElementById("width").value);
          const depth = parseFloat(document.getElementById("depth").value);
          const type = document.getElementById("type").value;
          const notes = document.getElementById("notes").value;
          const nextMaintenance =
            document.getElementById("next_maintenance").value;

          const today = new Date().toISOString().split("T")[0];
          if (nextMaintenance < today) {
            alert("Next maintenance date must be in the future.");
            return;
          }

          const waterVolume = length * width * depth;

          const poolData = {
            owner_name: ownerName,
            length: length,
            width: width,
            depth: depth,
            type: type,
            notes: notes,
            water_volume: waterVolume,
            next_maintenance: nextMaintenance,
          };

          // Make the request to the Flask backend
          fetch("/add-pool", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(poolData),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.error) {
                throw new Error(data.error);
              }
              alert("Pool added successfully!");
              location.reload();
            })
            .catch((error) => {
              console.error("Error:", error);
              alert("Failed to add pool.");
            });
        });
    </script>
  </body>
  {% include 'footer.html' %}
</html>
