<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Plouf - Update Pool Log</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <br />
    <div class="container">
      <h2>Update Pool Log</h2>
      <form id="addPoolLogForm">
        <div>
          <label for="pH_level">pH Level:</label>
          <input
            type="number"
            id="pH_level"
            name="pH_level"
            step="0.1"
            min="0"
            max="14"
            value="{{ data.pH_level }}"
          />
        </div>
        <div>
          <label for="chlorine_level">Chlorine Level:</label>
          <input
            type="number"
            id="chlorine_level"
            name="chlorine_level"
            step="0.1"
            min="0"
            max="10"
            value="{{ data.chlorine_level }}"
            required
          />
        </div>
        <div>
          <label for="notes">Notes:</label>
          <input type="text" id="notes" name="notes" value="{{data.notes}}" />
        </div>
        <div>
          <label for="date">Maintenance Date:</label>
          <input type="date" id="date" name="date" value="{{data.date}}" />
        </div>
        <button type="submit" class="button">Update Log</button>
      </form>
    </div>

    <script>
      document
        .getElementById("addPoolLogForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();

          const pH_level = parseFloat(
            document.getElementById("pH_level").value
          );
          const chlorine_level = parseFloat(
            document.getElementById("chlorine_level").value
          );
          const notes = document.getElementById("notes").value;
          const date = document.getElementById("date").value;

          const poolLogData = {
            pH_level: pH_level,
            chlorine_level: chlorine_level,
            notes: notes,
            date: date,
          };
          fetch("/update-log/" + "{{pool_id}}" + "/" + "{{log_id}}", {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(poolLogData),
          })
            .then((response) => {
              console.log(response);
              if (!response.ok) {
                throw new Error("Failed to update pool.");
              }
              return response;
            })
            .then((response) => response.json())
            .then((data) => {
              alert("Pool updated successfully!");
              window.location.href = "/pool/" + "{{pool_id}}";
            })
            .catch((error) => {
              console.error("Error:", error);
              alert("Failed to update pool.");
            });
        });
    </script>
  </body>
  {% include 'footer.html' %}
</html>
