<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plouf - Update Pool</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <h2>Update Pool</h2>
      <form id="updatePoolForm">
        <div>
          <label for="update_owner_name">Owner Name:</label>
          <input
            type="text"
            id="update_owner_name"
            name="owner_name"
            value="{{ data.owner_name }}"
            required
          />
        </div>
        <div>
          <label for="update_length">Length (m):</label>
          <input
            type="number"
            id="update_length"
            name="length"
            step="0.1"
            min="1"
            value="{{ data.length }}"
            required
          />
        </div>
        <div>
          <label for="update_width">Width (m):</label>
          <input
            type="number"
            id="update_width"
            name="width"
            step="0.1"
            min="1"
            value="{{ data.width }}"
            required
          />
        </div>
        <div>
          <label for="update_depth">Depth (m):</label>
          <input
            type="number"
            id="update_depth"
            name="depth"
            step="0.1"
            min="0.5"
            value="{{ data.depth }}"
            required
          />
        </div>
        <div>
          <label for="update_type">Type:</label>
          <input
            type="text"
            id="update_type"
            name="type"
            placeholder="Indoor, Heated, ..."
            value="{{ data.type }}"
            required
          />
        </div>
        <div>
          <label for="update_notes">Notes:</label>
          <input
            type="text"
            id="update_notes"
            name="notes"
            value="{{ data.notes }}"
          />
        </div>
        <div>
          <label for="update_next_maintenance">Next Maintenance:</label>
          <input
            type="date"
            id="update_next_maintenance"
            name="next_maintenance"
            value="{{ data.next_maintenance }}"
          />
        </div>
        <button type="submit" class="button">Update Pool</button>
      </form>
    </div>

    <script>
      document
        .getElementById("updatePoolForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();

          const ownerName = document.getElementById("update_owner_name").value;
          const length = parseFloat(
            document.getElementById("update_length").value
          );
          const width = parseFloat(
            document.getElementById("update_width").value
          );
          const depth = parseFloat(
            document.getElementById("update_depth").value
          );
          const type = document.getElementById("update_type").value;
          const notes = document.getElementById("update_notes").value;
          const nextMaintenance = document.getElementById(
            "update_next_maintenance"
          ).value;

          const today = new Date().toISOString().split("T")[0];
          if (nextMaintenance < today) {
            alert("Next maintenance date must be in the future.");
            return;
          }

          const waterVolume = length * width * depth;

          const poolData = {
            owner_name: ownerName,
            length: length,
            width: width,
            depth: depth,
            type: type,
            notes: notes,
            water_volume: waterVolume,
            next_maintenance: nextMaintenance,
          };

          fetch("/update-pool/" + "{{pool_id}}", {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(poolData),
          })
            .then((response) => {
              console.log(response);
              if (!response.ok) {
                throw new Error("Failed to update pool.");
              }
              return response;
            })
            .then((response) => response.json())
            .then((data) => {
              alert("Pool updated successfully!");
              window.location.href = "/pool/" + "{{pool_id}}";
            })
            .catch((error) => {
              console.error("Error:", error);
              alert("Failed to update pool.");
            });
        });
    </script>
  </body>
  {% include 'footer.html' %}
</html>
